<launch>
 <arg name="script" default="start_tmule.sh"/>
<!-- TODO change the path of the config folder according to your user -->
 <arg name="TMULE_CONFIG" value="$(optenv TMULE_CONFIG /home/francesco/workspaces/test_workspace/src/learning_local_recovery_navigation/config)" />

  <node
    name="llrn_tmule_server"
    pkg="llrn"
    type="$(arg script)"
    args="$(arg TMULE_CONFIG)"
    output="screen">
  </node>
</launch>
